.admin-control-page {
    display: flex;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f8f8f8;
    padding: 20px;
    border-right: 2px solid #ddd;
  }


  .sidebar {
    overflow-y: auto;
    max-height: 80vh; /* 或者根据页面布局自定义一个适合的高度 */
  }
  
  
  .sidebar h3 {
    margin-top: 0;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar li:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f0f0f0;
  }
  
  .user-table button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .user-table button:hover {
    background-color: #0056b3;
  }
